#err-div {
  width: 65rem;
  height: 25rem;
  margin: 2rem auto 0 auto;
}

#err404 {
  background: url("banner_error_404.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */

  width: 100%;
  height: 100%;
  border-radius: 1rem;
  margin: 0 auto;
}
